<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.8" targetFramework="net481" developmentDependency="true" />
  <package id="BepInEx.BaseLib" version="5.4.20" targetFramework="net481" />
  <package id="BepInEx.Core" version="5.4.21" targetFramework="net481" />
  <package id="BepInEx.PluginInfoProps" version="2.1.0" targetFramework="net481" />
  <package id="HarmonyX" version="2.7.0" targetFramework="net481" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net481" />
  <package id="MonoMod.RuntimeDetour" version="21.12.13.1" targetFramework="net481" />
  <package id="MonoMod.Utils" version="21.12.13.1" targetFramework="net481" />
  <package id="NGuid" version="0.2.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net481" />
  <package id="UnityEngine.Modules" version="2023.2.1" targetFramework="net481" developmentDependency="true" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net481" />
  <package id="ValheimGameLibs" version="0.217.38" targetFramework="net481" />
  <package id="WebsocketSharp.Standard2" version="2022.4.16.1520" targetFramework="net481" />
  <package id="protobuf-net" version="3.2.30" targetFramework="net481" />
  <package id="protobuf-net.Core" version="3.2.30" targetFramework="net481" />
</packages>